/* importando as fontes */
@import url('https://fonts.googleapis.com/css?family=Bitter|Lobster');

body {
    font-family:  'Bitter', serif;
    background: url("../img/esmalte.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.home h1 {
    padding: 250px;
    font-family: 'Lobster', cursive;
    font-size: 4em;
    color: #333;
    text-align: center;
}

/* menu navbar com dropdown */
.navbar {
    overflow: hidden;
    background-color: #333;
}

.navbar a {
    float: left;
    font-size: 1em;
    color: #fafafa;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
  
.dropdown {
    float: left;
    overflow: hidden;
}

.dropdown .dropbtn {
    font-size: 1em; 
    border: none;
    outline: none;
    color: #fafafa;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: #ffcde8;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #333;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: #fafafa;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #757575;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* incluindo o botão de back-to-top */

#button {
    display: inline-block;
    background-color: #ffaad7;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    margin: 30px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s;
    z-index: 1000;
}

#button:hover {
cursor: pointer;
background-color: #ffcde8;
}

#button:active {
background-color: #757575;
}

#button::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}

/* carrossel de imagens */

#carousel {
    width:255px;
    height:290px;
    margin:0 auto;
}
     
#slides {
    overflow:hidden;
    position:relative;
    width:250px;
    height:250px;
    border:1px solid #ccc;
    margin-bottom: 20px;
    margin: 0 auto;
}

#slides ul {
    position:relative;
    left:0;
    top:0;
    list-style:none;
    margin:0;
    padding:0;
    width:750px;
}

#slides li {
    width:250px;
    height:250px;
    float:left;
}

#slides li img {
    padding:5px;
    width: 240px;
    height: 240px;
}

#buttons {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 630px;
}

#buttons a {
    border: 2px solid #ffcde8;
    background-color: #ffaad7;
    color: #fafafa;
    padding: 5px;
    text-decoration: none;
}